@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');


html{
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    width: 100vw;
    background-color: var(--body-bg-color)
}

/* Estilização padrão dos cards.*/
.cards-bg{
    background-color: var(--bg-cards);
    color: var(--text-color);
    padding: 2rem;
    margin-bottom: 3rem;
    width: 34.8rem;
    height: auto;
    border-radius: 2rem;
    box-shadow:  2px 5px #837E9F;
}

/*Container pai*/
.container-main{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas: 
    "infos-and-skills projects-and-posts ";
    grid-template-columns: repeat(2, 1fr 91%);
}

/*------------*/

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
}

@media (max-width: 768px){
    .container-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-10px);}
}